extends ../layouts/common

block content
  h1.text-center Sign In
  .container
    form(method="POST", enctype="multipart/form-data")
      .form-group
        label(for='name') Name
        input#name.form-control(type='text', placeholder='Name', name="name")
      .form-group
        label(for='email') Email address
        input#email.form-control(type='email', placeholder='Enter email', name="email")
      .form-group
        label(for='password') Password
        input#password.form-control(type='password', placeholder='Password', name="password")
      .form-group
        label(for='avatar') Avatar
        input#avatar.form-control-file(type='file', name="avatar")  
    
      button.btn.btn-primary(type='submit') Submit
